In [30]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
# Define database and collection
db = client.nasa_db
collection = db.items

In [4]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

### NASA Mars News

In [5]:
# Examine the results, then determine element that contains sought info
results = soup.find_all('div', class_='grid_layout')

# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title
        news_title = result.find('div', class_='content_title').text
        news_p = result.find('div', class_= 'rollover_description_inner').text

        # Run only if news title and news paragraph are available
        if (news_title and news_p):
            # Print results
            print('-------------')
            print(news_title)
            print(news_p)

            # Dictionary to be inserted as a MongoDB document
            post = {
                'news_title': news_title,
                'news_p': news_p,
            }

            collection.insert_one(post)

    except:
        continue

-------------


NASA Invests in Visionary Technology



NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.

### JPL Mars Space images - Featured Image

In [9]:
# Dependencies
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist

In [10]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [11]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [22]:
image = soup.find('div', class_='carousel_items')
image_url = image.article['style']

# Formatting string
url = image_url.split('/s')[-1].split('.')[0]
# print (url)
# Define jpl.nasa as a VAR
base_url = 'https://www.jpl.nasa.gov'
# Build jpg URL
featured_image_url = base_url + '/s' + url + '.jpg'
# Print the result
print(featured_image_url)

paceimages/images/wallpaper/PIA19323-1920x1200
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19323-1920x1200.jpg

### Mars Weather

In [23]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [25]:
# Build url
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [27]:
# 'js-tweet-text-container'
# Reference: https://stackoverflow.com/questions/48252610/web-scraper-isnt-filling-up-the-csv-file
weather = soup.find('div', class_='js-tweet-text-container')

mars_weather= weather.p.text
print(mars_weather)

Sol 2039 (May 02, 2018), Sunny, high 0C/32F, low -74C/-101F, pressure at 7.28 hPa, daylight 05:23-17:20

### Mars Facts

In [31]:
facts_url = 'https://space-facts.com/mars/'
facts = pd.read_html(facts_url)
facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 째C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [32]:
# Get the type of facts
type(facts)

list

In [37]:
# Convert data into DataFrame
df = facts[0]
df.columns = ['Mars Planet Profile', 'Data']
df

    Mars Planet Profile                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [38]:
# Generate HTML tables from DataFrames
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Planet Profile</th>\n      <th>Data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 째C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [40]:
# Strip unwanted newlines to clean up the table
html_table.replace('\n', '')
# Save the table to a file
df.to_html('table.html')

### Mars Hemisperes